[user]
	name = ibrokemypie
	email = ibrokemypie@outlook.com
	
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[core]
    pager = bat
    editor = micro

