[submodule ".zsh/zsh-256color"]
	path = .zsh/zsh-256color
	url = https://github.com/chrissicool/zsh-256color
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/zsh-syntax-highlighting-filetypes"]
	path = .zsh/zsh-syntax-highlighting-filetypes
	url = https://github.com/trapd00r/zsh-syntax-highlighting-filetypes
[submodule "Color-Scripts"]
	path = .config/Color-Scripts
	url = https://github.com/stark/Color-Scripts
[submodule "xiate"]
	path = xiate
	url = git@github.com:ibrokemypie/xiate
[submodule ".xiate"]
	path = .xiate
	url = https://github.com/ibrokemypie/xiate
