.DS_STORE
*/.DS_STORE
.weechat/logs/
.weechat/logs/*
.config/StardewValley/
.config/StardewValley/*
.config/vivaldi/
.config/onedrive/
.config/vivaldi/*
.config/micro/buffers
.config/micro/buffers/
.config/filezilla/
*.cache
*.log
.config/hub
.config/mpd/
.config/.hub
.gnupg/
.config/mpdscribble/lastfm.journal
.config/mpd/
.config/ncmpcpp/
.config/ncmpcpp/*
.config/mpd/*
.config/menus
.config/pulse
.config/autostart
.config/google-*
.gnupg
