.config/Cadence/
.config/Color-Scripts/
.config/CuteMupen/
.config/Dolphin Emulator/
.config/FEZ/
.config/GIMP/
.config/Game Dev Tycoon - Steam/
.config/Hacknet/
.config/Kingsoft/
.config/Mailspring/
.config/MusicBrainz/
.config/NuGet/
.config/Nylas Mail/
.config/Pencil/
.config/Pinta/
.config/QtProject.conf
.config/Riot/
.config/Risk_of_Rain/
.config/StardewValley/
.config/Team Phoenix/
.config/TheyBleedPixels/
.config/Thunar/
.config/Trolltech.conf
.config/UNDERTALE/
.config/Unknown Organization/
.config/Vegeta/
.config/VirtualBox/
.config/ardour5/
.config/audacious/
.config/autostart/
.config/beets/
.config/cantata/
.config/chromium
.config/chromium-back-ovfs/
.config/chromium-backup-crashrecovery-20180504_230313/
.config/chromium-backup-crashrecovery-20180505_122738/
.config/chromium-backup-crashrecovery-20180505_143651/
.config/chromium-backup-crashrecovery-20180505_144605/
.config/chromium-backup-crashrecovery-20180508_163049/
.config/chromium-backup-crashrecovery-20180510_002452/
.config/chromium-backup-crashrecovery-20180515_160943/
.config/chromium-backup-crashrecovery-20180519_180558/
.config/chromium-backup-crashrecovery-20180519_195559/
.config/chromium-backup-crashrecovery-20180520_124353/
.config/chromium-backup-crashrecovery-20180521_124233/
.config/chromium-backup-crashrecovery-20180523_082323/
.config/chromium-backup-crashrecovery-20180524_150746/
.config/chromium-backup/
.config/clight.conf
.config/cmst/
.config/composer/
.config/configstore/
.config/darktable/
.config/dconf/
.config/desmume/
.config/discord-cli/
.config/discord/
.config/discordcanary/
.config/dolphin-emu/
.config/eidolon/
.config/emaildefaults
.config/enchant/
.config/etcher-electron/
.config/falkTX/
.config/filezilla/
.config/fman/
.config/fontconfig/
.config/freerdp/
.config/gconf/
.config/gigolo/
.config/git/
.config/glade.conf
.config/google-chrome
.config/google-chrome-back-ovfs/
.config/google-chrome-backup-crashrecovery-20180504_230311/
.config/google-chrome-backup-crashrecovery-20180505_122736/
.config/google-chrome-backup-crashrecovery-20180505_143650/
.config/google-chrome-backup-crashrecovery-20180505_144604/
.config/google-chrome-backup-crashrecovery-20180508_163046/
.config/google-chrome-backup-crashrecovery-20180510_002450/
.config/google-chrome-backup-crashrecovery-20180515_160942/
.config/google-chrome-backup-crashrecovery-20180519_180556/
.config/google-chrome-backup-crashrecovery-20180519_195557/
.config/google-chrome-backup-crashrecovery-20180520_124351/
.config/google-chrome-backup-crashrecovery-20180521_124231/
.config/google-chrome-backup-crashrecovery-20180523_082321/
.config/google-chrome-backup-crashrecovery-20180524_150745/
.config/google-chrome-backup/
.config/google-chrome-unstable
.config/google-chrome-unstable-back-ovfs/
.config/google-chrome-unstable-backup-crashrecovery-20180220_132859/
.config/google-chrome-unstable-backup-crashrecovery-20180220_195538/
.config/google-chrome-unstable-backup-crashrecovery-20180221_100651/
.config/google-chrome-unstable-backup-crashrecovery-20180221_100757/
.config/google-chrome-unstable-backup-crashrecovery-20180221_134142/
.config/google-chrome-unstable-backup-crashrecovery-20180223_112442/
.config/google-chrome-unstable-backup-crashrecovery-20180320_221343/
.config/google-chrome-unstable-backup-crashrecovery-20180321_092118/
.config/google-chrome-unstable-backup-crashrecovery-20180329_170728/
.config/google-chrome-unstable-backup-crashrecovery-20180411_081756/
.config/google-chrome-unstable-backup-crashrecovery-20180414_190428/
.config/google-chrome-unstable-backup-crashrecovery-20180417_134552/
.config/google-chrome-unstable-backup-crashrecovery-20180421_163018/
.config/google-chrome-unstable-backup-crashrecovery-20180429_112152/
.config/google-chrome-unstable-backup-crashrecovery-20180429_202241/
.config/google-chrome-unstable-backup-crashrecovery-20180430_164600/
.config/google-chrome-unstable-backup-crashrecovery-20180504_230309/
.config/google-chrome-unstable-backup-crashrecovery-20180505_122735/
.config/google-chrome-unstable-backup-crashrecovery-20180505_143649/
.config/google-chrome-unstable-backup-crashrecovery-20180505_144604/
.config/google-chrome-unstable-backup-crashrecovery-20180508_163045/
.config/google-chrome-unstable-backup-crashrecovery-20180510_002449/
.config/google-chrome-unstable-backup-crashrecovery-20180515_160941/
.config/google-chrome-unstable-backup-crashrecovery-20180519_180556/
.config/google-chrome-unstable-backup-crashrecovery-20180519_195557/
.config/google-chrome-unstable-backup-crashrecovery-20180520_124350/
.config/google-chrome-unstable-backup-crashrecovery-20180521_124230/
.config/google-chrome-unstable-backup-crashrecovery-20180523_082320/
.config/google-chrome-unstable-backup-crashrecovery-20180524_150744/
.config/google-chrome-unstable-backup/
.config/gtk-2.0/
.config/gtk-3.0/
.config/guitarix/
.config/guvcview2/
.config/hexchat/
.config/i3/config~
.config/i3lock-next/
.config/indicator-stickynotes
.config/inkscape/extension-errors.log
.config/ishiiruka/
.config/itch/
.config/keepassxc/
.config/keyledsd.conf
.config/kingsoft/
.config/kritadisplayrc
.config/kritarc
.config/lftp/
.config/libfm/
.config/libreoffice/
.config/libvirt/
.config/linpack.conf
.config/lutris-web-runner-electron/
.config/lutris/
.config/lxqt/
.config/m64py/
.config/medusa-emu/
.config/menus/
.config/mgba/
.config/micro/buffers/
.config/mimeapps.list
.config/modprobed-db.conf
.config/modprobed.db
.config/monero-project/
.config/mono.addins/
.config/mopidy/
.config/mpdris2/
.config/mpdscribble/
.config/mpris-scrobbler/
.config/mupen64plus/
.config/nheko/
.config/obs-studio/
.config/open-airplay.conf
.config/pcmanfm/
.config/psd/
.config/qBittorrent/
.config/qalculate/
.config/qpdfview/
.config/qt-remote-viewer/
.config/qt-virt-manager/
.config/qt5ct/
.config/remmina/
.config/retroarch/
.config/rncbc.org/
.config/runescape/
.config/scc/
.config/shadowsocks-qt5/
.config/spacefm/
.config/spicy/
.config/spotify/
.config/termite/
.config/touchegg-gce.conf
.config/trizen/
.config/twmn/
.config/ultravnc-viewer/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vis/
.config/vlc/
.config/wal_steam/
.config/way-cooler/
.config/wine/
.config/wireshark/
.config/xbuild/
.config/xfce4/
.config/xm1/
.config/yabar/
.config/yagb.conf
.config/yagb/
.config/zim/
.pypirc
.weechat/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Backup/
.config/sublime-text-3/Local/