.DS_STORE
*/.DS_STORE
.weechat/logs/
.weechat/logs/*
.config/StardewValley/
.config/StardewValley/*
.config/vivaldi/
.config/vivaldi/*
.config/micro/buffers
.config/micro/buffers/
*.cache
*.log
.config/hub
.config/.hub
.config/mpdscribble/lastfm.journal