[Unit]
Description=GTK+ Bluetooth Manager
Documentation=https://github.com/blueman-project/blueman
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/blueman-applet

[Install]
WantedBy=graphical-session.target
