[Unit]
Description=Applet for managing network connections
Documentation=https://wiki.gnome.org/Projects/NetworkManager/
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --indicator

[Install]
WantedBy=graphical-session.target
