[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/No Time To Explain Remastered.desktop]
row=6
col=0

[/root/Desktop/SpeedRunners.desktop]
row=2
col=1

[/root/Desktop/Stardew Valley.desktop]
row=3
col=1

[/root/Desktop/FTL Faster Than Light.desktop]
row=1
col=1

[/root/Desktop/steam.desktop]
row=0
col=1

[4E906F9A906F8775]
row=1
col=0

[EE7CF4B37CF47823]
row=2
col=0

[AC4CF3894CF34C98]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/root]
row=5
col=0

