[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/No Time To Explain Remastered.desktop]
row=7
col=0

[/root/Desktop/SpeedRunners.desktop]
row=1
col=1

[/root/Desktop/Stardew Valley.desktop]
row=2
col=1

[/root/Desktop/FTL Faster Than Light.desktop]
row=9
col=0

[/root/Desktop/steam.desktop]
row=8
col=0

[9b6e6f0b-731f-44b8-9bff-5c3552aa4922]
row=0
col=0

[/]
row=5
col=0

[/root]
row=6
col=0

